<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.munix.testservices">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.OperationsActivity"
            android:label="Operations">
        </activity>
        <activity android:name=".activities.MyMessengerActivity" />


        <service android:name=".services.MyStartedService" />
        <service android:name=".services.MyIntentService" />
        <service android:name=".services.OperationsService"/>
        <service android:name=".services.MyMessengerService" android:process=":my_own_process"/>
    </application>

</manifest>